/* https://coolors.co/0a2342-848fa5-6a041d-e0efde */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Farsan&display=swap');
:root {
  --primary-color: #0a2342; 
  --secondary-color: #848fa5;
  --primary-accent: #6a041d;
  --secondary-accent: #e0efde;
}

* {
  margin: 0;
}

/* import font here too */

header {
  height: 90px;
  display: grid;
  grid-template-columns: 50px 1fr;
  background-image: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
  font-family: "Black Ops One";
  a {
    margin: 21%;
  }

  img {
    height: 50px;
    width: 50px;
  }
  
  
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  a {
    text-decoration: none;
    font-size: 30px;
    width: auto;
    padding: 1% 2%;
    margin: 0;
    color: var(--primary-color);
  }
  
  a:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transform: scale(1.15);
  }
}


footer {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: "farsan";
  font-size: large;
  #links {
    height: 50px;
    width: 50px;
    border-radius: 20px;
  }
  img {
    height: 50px;
    width: 50px;
  }
}  